{
  "dbType"     : "postgres",
  "dbSettings" : {
    "user"    : "nobody",
    "host"    : "@dbserver@",
    "port"    : "@dbport@",
    "password": "",
    "database": "@dbname@",
    "ssl": {
      "rejectUnauthorized": false}
    }
}
